@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

.custom-shape-blue {
    background-color: #0f2346;
    clip-path: polygon(80px 0, 100% 0, 100% 100%, 0 100%);
}

.custom-shape-yellow {
    background-color: #fcee21;
    clip-path: polygon(0 0, 100% 0, calc(100% - 80px) 100%, 0 100%);
}

header {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
}

/* Marquee Animation */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    width: 200%;
    animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}